body {
    background: #12131C;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    }
    
h1, h2 {
color: #FFF;
text-align: center;
font-family: "Space Grotesk";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

p {
color: #FFF;
text-align: center;
font-family: "Space Grotesk";
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.btn {
    /* 1. Свойства КОРОБКИ (из скрина image_d25706.png) */
    display: inline-flex;       /* Делает ссылку гибкой коробкой */
    justify-content: center;    /* Выравнивает текст внутри коробки по центру */
    align-items: center;        /* Выравнивает текст по вертикали */
    width: 140px;               /* Ширина из Block model */
    height: 48px;               /* Высота из Block model */
    background: rgba(255, 42, 133, 0.61); /* Розовый фон из Styles */
    border-radius: 15px;        /* Скругление из Styles */
    text-decoration: none;      /* Убирает стандартное подчеркивание ссылки в браузере */

    /* 2. Свойства ТЕКСТА (из скрина image_d25669.png) */
    color: #FFF;                /* Белый цвет букв */
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;            /* Размер шрифта */
    font-weight: 700;           /* Жирность шрифта */
}

.card-section  {
    width: 363px;
height: 644px;
padding: 40px 20px;
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
justify-content: flex-end; /* <-- Опускает текст и кнопку вниз секции автоматически */
}

#hero {
aspect-ratio: 67/119;
background: url(../img/1imgmob.png) lightgray 50% / cover no-repeat;
}

#seo {
aspect-ratio: 121/215;
background: url(../img/2imgmob_sm.png) lightgray 50% / cover no-repeat;
}
#logic {
aspect-ratio: 121/215;
background: url(../img/3imgmobsm.png) lightgray 50% / cover no-repeat;
}
#energy {
aspect-ratio: 49/87;
background: url(../img/4imgmobsm.png) lightgray 50% / cover no-repeat;
}

#contact {
aspect-ratio: 86/153;
background: url(../img/5imgmobsm.png) lightgray 50% / cover no-repeat;
}

.text-block {
background: rgba(0, 0, 0, 0.69);
padding: 12px;         /* Отступы внутри плашки, чтобы текст «дышал» */
    border-radius: 16px;   /* Скругление углов под стать твоей кнопке */
    box-sizing: border-box;

}

form {
display: flex;
flex-direction: column;
align-items: center;
}
form label {
    color: #EBE4E4;
text-align: center;
font-family: "Space Grotesk";
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
